@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #001d10;
    animation: animateBackgroundC0olor 10s linear infinite;
}*/

.container
{
    float:none;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}
.container .card
{
    position: relative;
    width: 600px;
    height: 250px;
    margin: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, #031C2F, #0A4573);
}
.container .card img
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}
.container .card:hover img

{
    left: 73%;
    height: 500px;
}
.container .card .content

{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

}
.container .card:hover .content

{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.container .card .content h2

{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}
.container .card .content p

{
    color: #fff;
}
@media (max-width: 991px)
{
    .container .card
    {
        width: auto;
        max-width: 600px;
        align-items: flex-start;
    }
    .container .card:hover
    {
        height: 600px;
    }
    .container .card:hover img
    {
        left: 50%;
        height: 350px;
    }
    .container .card .content
    {
        width: 100%;
        left: 0;
        padding: 40px;
    }

}
@media (max-width: 767px)
{
    .container{
        flex-direction: column;
    }
    .container .card{
        margin: 40px 20px;
    }

}
@media (max-width: 420px)
{
    .container .card .content
    {
        padding: 30px;
    }
    .container .card:hover img
    {
        height: 300px;
    }
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031C2F;
}
.loading
{
    position: relative;
    width: 250px;
    height: 250px;
}
.loading .blocks
{
    position: absolute;
    width: 8px;
    height: 25px;
    background: #00BFFF;
    Left: 50%;
    border-radius: 8px;
    transform: rotate(calc(18deg * var(--i)));
    transform-origin: 0 125px;
    animation: animate 1.9s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));
}
@keyframes animate
{
    0%,50%
    {
        background: #000000;
        box-shadow: none;
    }
    50.1%,100%
    {
        background: #00BFFF;
        box-shadow: 0 0 5px #00BFFF,
                    0 0 15px #00BFFF,
                    0 0 30px #00BFFF,
                    0 0 60px #00BFFF,
                    0 0 90px #00BFFF;

    }
}
h3
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    letter-spacing: 4px;
    animation: animateText 2s ease-in-out infinite;
    animation-delay: -1s;
}
@keyframes animateText
{
    0%,50%
    {
        color: #000000;
        text-shadow: none;
    }
    50.1%,100%
    {
        color: #00BFFF;
        text-shadow: 0 0 5px #00BFFF,
                     0 0 15px #00BFFF;

    }
}
